<!DOCTYPE html>
<html xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org)" lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Finlandica+Text:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <!--css padrãao-->
        <link rel="stylesheet" href="./css/utilities.css">
        <link rel="stylesheet" href="./css/anuncio-proximidade-sucesso.css">
        <title>Ajudaí - Sucesso</title>
    </head>

    <body>

        <!--essa tag é onde a header vai ser injetada pelo springboot-->
        <header th:replace="~{fragments :: header}"></header>

        <main class="conteudo">
            <div class="card-sucesso-regiao">

                <div class="icone-radar-wrapper">
                    <span class="symbols">sensors</span>
                </div>

                <h2 class="titulo-sucesso">pedido publicado na região!</h2>

                <p class="texto-sucesso">
                    Sua solicitação foi lançada no mapa do **Ajudaí**. Uma notificação foi enviada para os usuários ativos mais próximos que possuem itens compatíveis na sua área.
                </p>

                <div class="box-status-transmissao">
                    <div class="linha-status-radar">
                        <span class="ponto-pulsante"></span>
                        <p>Procurando ajudantes nos arredores...</p>
                    </div>
                    <ul>
                        <li>Sua publicação ficará visível no feed local da comunidade.</li>
                        <li>Assim que alguém aceitar te ajudar, você receberá um aviso e o chat será liberado.</li>
                    </ul>
                </div>

                <div class="acoes-sucesso">
                    <a th:href="@{/}" class="btn-acompanhar-pedido">Voltar para página inicial</a>
                </div>

            </div>
        </main>

        <!--essa tage é onde o footer vai ser injetado pelo springboot-->
        <footer th:replace="~{fragments :: footer}"></footer>
        <script src="https://kit.fontawesome.com/2e9951a3e8.js" crossorigin="anonymous"></script>
        <script src="utilities.js"></script>
    </body>
</html>
