<!DOCTYPE html>
<html xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org)" lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Finlandica+Text:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <!--css padrão-->
        <link rel="stylesheet" href="./css/utilities.css">
        <link rel="stylesheet" href="./css/anuncios.css">
        <link rel="stylesheet" href="./css/anuncio_proximidade.css">
        <link rel="stylesheet" href="./css/anuncio_lista.css">
        <title>Anúncios</title>
    </head>

    <body>

        <!--essa tag é onde a header vai ser injetada pelo springboot-->
        <header th:replace="~{fragments :: header}"></header>

        <main class="conteudo">
            <div class="flex column anuncios_tabs">
                <h3>Encontre o que precisa</h3>
                <p th:if="${termoPesquisado != null}"
           th:text="'Resultados para a pesquisa: ' + ${termoPesquisado}"></p>

                <radio-picker aria-label="Botões radiais" role="radiogroup" class="flex">
                    <label><input type="radio" id="proximidade" name="abas">Pedido na sua região</label>
                    <label><input type="radio" id="fixos" name="abas" checked>Veja anuncios</label>
                </radio-picker>

                <div class="anuncio_tabs">
                    <div id="p_1" th:insert="~{fragments :: form-pedido}"></div>
                    <div id="p_2" th:insert="~{fragments :: lista-anuncios}"></div>
                </div>
            </div>
        </main>

        <!--essa tage é onde o footer vai ser injetado pelo springboot-->
        <footer th:replace="~{fragments :: footer}"></footer>
        <script src="https://kit.fontawesome.com/2e9951a3e8.js" crossorigin="anonymous"></script>
        <script src="utilities.js"></script>
    </body>
</html>
