<!DOCTYPE html>
<html xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org)" lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Finlandica+Text:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <!--css padrãao-->
        <link rel="stylesheet" href="./css/utilities.css">
        <link rel="" href="./css/anuncio_proximidade.css">
        <title>Crie um Anúncio</title>
    </head>

    <body>

        <!--essa tag é onde a header vai ser injetada pelo springboot-->
        <header th:replace="~{fragments :: header}"></header>

        <main class="conteudo">

            <div class="flex column pop-section">
                <p class="f-18 fw-500">Populares:</p>
                <radio-picker arial-label="botões radiais" role="radiogruop" class="pop-radio flex wrap">
                    <label class="f-18 flex label-pop"><input type="radio" id="pop-1" name="pop" checked>
                        <span class="symbols pop_icons">music_note_2</span><p> Musica</p>
                    </label>
                    <label class="f-18 flex label-pop"><input type="radio" id="pop-2" name="pop">
                        <span class="symbols pop_icons">handyman</span><p> Ferramentas</p>
                    </label>
                </radio-picker>
                <div class="cards">
                    <div id="card_group_1" class="card_group">
                        <p>teste teste</p>
                    </div>
                    <div id="card_group_2" class="card_group">
                        <p>não teste</p>
                    </div>
                </div>
                <!-- <div th:each="item : ${ListaDeProdutos}">
                     <div th:replace="~{fragments/card :: anuncio(produto=${item})}"></div>
                     </div> -->
            </div>
        </main>

        <!--essa tage é onde o footer vai ser injetado pelo springboot-->
        <footer th:replace="~{fragments :: footer}"></footer>
        <script src="https://kit.fontawesome.com/2e9951a3e8.js" crossorigin="anonymous"></script>
        <script src="utilities.js"></script>
    </body>
</html>
