<!DOCTYPE html>
<html xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org)" lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Finlandica+Text:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <!--css padrãao-->
        <link rel="stylesheet" href="./css/utilities.css">
        <link rel="stylesheet" href="./css/cadastro.css">
        <title>Ajudaí - Cadastro</title>
    </head>

    <body>

        <!--essa tag é onde a header vai ser injetada pelo springboot-->
        <header th:replace="~{fragments :: header}"></header>

        <main class="conteudo">
            <form action="#" th:action="@{/cadastro}" method="POST">
                <h2>Cadastro</h2>
                <div class="row">
                    <label>Nome* <input type="text" name="nome" placeholder="Nome" required></label>
                    <label>Sobrenome* <input type="text" name="sobrenome" placeholder="Sobrenome" required></label>
                </div>

                <div class="row">
                    <label>Celular* <input type="tel" name="celular" placeholder="(XX) XX XXXX-XXXX" required></label>
                    <label>Email* <input type="email" name="email" placeholder="AbcAbc@gmail.com" required></label>
                </div>

                <div class="terms">
                    <span>É obrigatório ter pelo menos celular OU email para se conectar no site.</span>
                </div>

                <label>Senha* <input type="password" name="senha" placeholder="Mínimo 6 dígitos" required></label>
                <label>Insira sua senha novamente* <input type="password" name="confirmarSenha" placeholder="Mínimo 6 dígitos" required></label>

                <div class="row">
                    <label>Estado* <select name="estado" required>
                        <option value="SP">São Paulo</option>
                    </select>
                    </label>
                    <label>Cidade
                        <select name="cidade">
                            <option value="Sao Paulo">São Paulo</option>
                        </select>
                    </label>
                </div>

                <div class="row">
                    <label>Data de Nascimento* <input type="date" name="dataNascimento" required></label>
                    <label>Gênero
                        <select name="genero">
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                            <option value="O">Outro</option>
                        </select>
                    </label>
                </div>

                <label>CPF* <input type="text" name="cpf" placeholder="000.000.000-00" required></label>

                <div class="terms">
                    Ao continuar, você concorda com nosso <a href="#">Contrato de Usuário</a> e reconhece que compreende nossa <a href="#">Política de Privacidade</a>.
                </div>

                <button class="btn-cadastro flex c-btn btn-principal" type="submit" style="padding: 12px; font-size: 16px;">
                    Cadastrar-se
                </button>
            </form>
        </main>

        <!--essa tage é onde o footer vai ser injetado pelo springboot-->
        <footer th:replace="~{fragments :: footer}"></footer>
        <script src="https://kit.fontawesome.com/2e9951a3e8.js" crossorigin="anonymous"></script>
        <script src="utilities.js"></script>
    </body>
</html>
