<header th:fragment="header" class="flex c-header">
    <details class="pages">
        <summary>
            <span class="symbols f-26">menu</span>
            <p>Menu</p>
        </summary>
        <div class="flex pages-link">
            <a href="">Faça um anúncio</a>
            <a href="">Como funciona?</a>
            <a href="">Segurança</a>
            <a href="">Sobre nós</a>
            <div class="flex pages-link-usr">
                <a href="">Solicitações</a>
                <a href="">Meus Anúncios</a>
                <a href="">Histórico</a>
            </div>
        </div>
    </details>

    <a th:href="@{/}" class="f-37 c-logo c-link-logo">Ajudaí</a>

    <button id="btn-conta" class="flex c-btn btn-login" type="button">
        <span class="symbols f-28">person</span>
        Entrar
    </button>
</header>

<h1>teste</h1>

<footer th:fragment="footer" class="flex c-footer">
    <a class="play-store-link" href="">
        <img class="play-store-icon" src="/img/google-play.png" alt="google play store logo"/>
    </a>
    <span class="line-vertical"></span>
    <div class="flex column links">
        <p class="c-logo f-24">Ajudaí</p>
        <a href="">Faça um anúncio</a>
        <a href="">Como Funciona</a>
        <a href="">Segurança</a>
        <a href="">Sobre nós</a>
    </div>
    <span class="line-vertical"></span>
    <div class="flex column sociais">
        <p>Nossas redes sociais</p>
        <div class="flex sociais-icons">
            <span class="fa-brands fa-instagram"></span>
            <span class="fa-brands fa-tiktok"></span>
            <span class="fa-brands fa-x-twitter"></span>
        </div>
    </div>
</footer>
