<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Finlandica+Text:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

        <!--caminho para spring-->
        <link rel="stylesheet" href="/css/utilities.css">
        <link rel="stylesheet" href="/css/index.css">
        <!--caminho para local-->
        <link rel="stylesheet" href="../static/css/utilities.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <title>Ajudaí</title>
    </head>

    <body>

        <header th:replace="~{fragments :: header}"></header>

        <div class="flex column hero-section">

        </div>

        <main class="conteudo">

            <div class="flex column section-1">
                <h2>Encontre o equipamento que precisa!</h2>
                <p class="f-18">faça um pedido na sua região ou veja anuncios de equipamento</p>
                <form action="/pesquisa" method="GET" class="search-form">
                    <div class="flex pesquisa-grp">
                        <div class="flex f-28 pesquisa-icon">
                            <span class="symbols">search</span>
                        </div>
                        <input
                            type="search"
                            name="q"
                            placeholder="Do que precisa?"
                            class="f-16 pesquisa-input"
                        >
                    </div>
                </form>
            </div>
            <div class="flex column pop-section">
                <span class="line-horizontal line-pop"></span>
                <p class="f-18 fw-500">Populares:</p>
                <radio-picker arial-label="botões radiais" role="radiogruop" class="pop-radio flex wrap">
                    <label class="f-18 flex label-pop"><input type="radio" id="pop-1" name="pop" checked>
                        <span class="symbols pop_icons">music_note_2</span><p> Musica</p>
                    </label>
                    <label class="f-18 flex label-pop"><input type="radio" id="pop-2" name="pop">
                        <span class="symbols pop_icons">handyman</span><p> Ferramentas</p>
                    </label>
                    <label class="f-18 flex label-pop"><input type="radio" id="pop-3" name="pop">
                        <span class="symbols pop_icons">photo_camera</span><p> Fotografia</p>
                    </label>
                    <label class="f-18 flex label-pop"><input type="radio" id="pop-4" name="pop">
                        <span class="symbols pop_icons">content_cut</span><p> Artesanato</p>
                    </label>
                    <label class="f-18 flex label-pop"><input type="radio" id="pop-5" name="pop">
                        <span class="symbols pop_icons">brush</span><p> Artes</p>
                    </label>
                    <label class="f-18 flex label-pop"><input type="radio" id="pop-6" name="pop">
                        <span class="symbols pop_icons">exercise</span><p> Acadêmia</p>
                    </label>
                </radio-picker>
                <div class="cards">
                    <div id="card_group_1" class="card_group">
                        <!--começo de card-->
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, musica</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, musica 2</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, musica 3</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, musica 4</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, musica 5</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, musica 6</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                        <!--fim do card-->
                    </div>
                    <div id="card_group_2" class="card_group">
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, ferramenta</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, ferramenta</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                         <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, ferramenta</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                         </div>
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, ferramenta</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, ferramenta</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="card_group_3" class="card_group">
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, fotografia</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="card_group_4" class="card_group">
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, artesanato</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="card_group_5" class="card_group">
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, artes</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="card_group_6" class="card_group">
                        <div id="" class="flex column card">
                            <img src="/img/placeholder.png" alt="imagem placeholder"/>
                            <h4 class="fw-700 f-18">Titulo, acedemia</h4>
                            <h6 class="fw-600 f-16">R$00,00 / hora</h6>
                            <div class="flex fav-detalhes">
                                <button class="btn-favorite">
                                    <span class="symbols f-24 w-500">star</span>
                                </button>
                                <button id="" class="flex c-btn btn-principal btn-detalhes" type="button">
                                    Detalhes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:each="item : ${ListaDeProdutos}">
                    <div th:replace="~{fragments/card :: anuncio(produto=${item})}"></div>
                </div>
            </div>
        </main>

        <footer th:replace="~{fragments :: footer}"></footer>

        <script src="https://kit.fontawesome.com/2e9951a3e8.js" crossorigin="anonymous"></script>
        <!--caminho para spring-->
        <script src="/js/utilities.js"></script>
        <!--caminho para local-->
        <script src="../static/js/utilities.js"></script>
    </body>
</html>
