<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Finlandica+Text:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

        <!--caminho para spring-->
        <link rel="stylesheet" href="/css/utilities.css">
        <link rel="stylesheet" href="/css/index.css">
        <!--caminho para local-->
        <link rel="stylesheet" href="../static/css/utilities.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <title>Ajudaí</title>
    </head>

    <body>

        <header th:replace="~{fragments :: header}"></header>

        <main class="conteudo">
            <div class="flex column section-1">
                <h2>Encontre o equipamento que precisa!</h2>
                <p class="f-18">faça um pedido na sua região ou veja anuncios de equipamento</p>
                <form action="/pesquisa" method="GET" class="search-form">
                    <div class="flex pesquisa-grp">
                        <div class="flex f-28 pesquisa-icon">
                            <span class="symbols">search</span>
                        </div>
                        <input
                            type="search"
                            name="q"
                            placeholder="Do que precisa?"
                            class="f-16 pesquisa-input"
                        >
                    </div>
                </form>
            </div>
            <div class="flex column pop-section">
                <span class="line-horizontal line-pop"></span>
                <p>Populares:</p>
                <radio-picker arial-label="botões radiais" role="radiogruop" class="flex wrap">
                    <label><input type="radio" id="pop-1" name="pop" checked>Musica</label>
                    <label><input type="radio" id="pop-2" name="pop" checked>Ferramentas</label>
                    <label><input type="radio" id="pop-3" name="pop" checked>Fotografia</label>
                    <label><input type="radio" id="pop-4" name="pop" checked>Artesanato</label>
                    <label><input type="radio" id="pop-5" name="pop" checked>Artes</label>
                    <label><input type="radio" id="pop-6" name="pop" checked>Acadêmia</label>
                </radio-picker>
                <div th:each="item : ${ListaDeProdutos}">
                    <div th:replace="~{fragments/card :: anuncio(produto=${item})}"></div>
                </div>
            </div>
        </main>

        <footer th:replace="~{fragments :: footer}"></footer>

        <script src="https://kit.fontawesome.com/2e9951a3e8.js" crossorigin="anonymous"></script>
        <!--caminho para spring-->
        <script src="/js/utilities.js"></script>
        <!--caminho para local-->
        <script src="../static/js/utilities.js"></script>
    </body>
</html>
