<!DOCTYPE html>
<html xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org)" lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Finlandica+Text:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <!--css padrãao-->
        <link rel="stylesheet" href="./css/utilities.css">
        <link rel="stylesheet" href="./css/login.css">
        <title>Crie um Anúncio</title>
    </head>

    <body>

        <!--essa tag é onde a header vai ser injetada pelo springboot-->
        <header th:replace="~{fragments :: header}"></header>

        <main class="conteudo">
            <form action="#" th:action="@{/}">
                <div class="login-header-text">
                    <h2 style="color: #E65100; font-size: 18px; margin: 0;">Bem vindo!</h2>
                    <p style="font-size: 14px; margin: 5px 0;">Acesse a sua conta para usar as funcionalidades do site.</p>
                    <div class="terms">
                        Ao continuar, você concorda com nosso <a href="#">Contrato de Usuário</a> e reconhece que compreende nossa <a href="#">Política de Privacidade</a>.
                    </div>
                </div>

                <div class="toggle-login-type">
                    <button class="flex c-btn btn-principal" type="button" style="background: #FFCCBC; border: 1px solid #E65100; color: #E65100;">Nº de Celular</button>
                    <button class="flex c-btn btn-inactive" type="button">Email</button>
                </div>

                <label>Número de Celular <input type="tel" name="username" placeholder="(55) 00 00000-0000"></label>
                <label>Senha <input type="password" name="password" placeholder="***************"></label>

                <div class="inline-group">
                    <label><input type="checkbox" name="remember-me"> Lembrar do dispositivo</label>
                    <a href="#" style="color: var(--cor-azul-contraste, #0d47a1); text-decoration: none;">Esqueceu a senha?</a>
                </div>

                <a th:href="@{/}">
                    <button class="btn-login flex c-btn btn-secundario" type="" style="padding: 12px; font-size: 16px;">
                        Entrar
                    </button>
                </a>
                <div class="text-center">
                    Não tem uma conta?<br>
                    <a th:href="@{/cadastro}">Cadastre agora!</a>
                </div>
            </form>

        </main>

        <!--essa tage é onde o footer vai ser injetado pelo springboot-->
        <footer th:replace="~{fragments :: footer}"></footer>
        <script src="https://kit.fontawesome.com/2e9951a3e8.js" crossorigin="anonymous"></script>
        <script src="utilities.js"></script>
    </body>
</html>
