.pedido-form-container {
    width: 100%;
    margin: 2.5rem auto;
    max-width: 60lvw;
    gap: 1rem;

    .form-pedido {
        gap: 1.4rem;

        input, textarea{
            padding: 1.2rem 1rem;
            font-weight: 500;
            font-family: var(--f-titulo);
            border: 1px solid var(--cor-azul-claro);
            box-sizing: border-box;
            resize: none;
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &:focus {
                outline: 1px solid var(--cor-preto);
                box-shadow: 0 0 2px var(--cor-cinza-escuro);
            }
        }

        .form-grupo {
            gap: 0.5rem;
            width: 100%;
        }

        .form-grupo-tempo {
            margin: 1rem;
            align-items: center;
            align-content: center;

            .entrada-tempo {
                align-items: center;
                gap: 1rem;
            }
        }

        .campo-duplo {
            justify-content: space-between;
        }

        .form-endereco {
            border: 1px solid var(--cor-cinza-claro, #ccc);
            padding: 1.5rem;
            border-radius: 6px;

            legend {
                padding: 0 0.5rem;
                font-weight: bold;
            }

            .grid-endereco {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1.5rem;
                width: 100%;
                margin-top: 0.5rem;
            }

            .form-grupo {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                label {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                &.campo-rua { grid-column: span 4; }

                &.campo-numero { grid-column: span 1; }

                &.campo-bairro { grid-column: span 3; }

                &.campo-cidade { grid-column: span 3; }

                &.campo-estado { grid-column: span 1; }
            }
        }

        input[type="range"] {
            width: 100%;
            cursor: pointer;
        }

        .mapa-estatico-placeholder {
            width: 100%;
            height: 200px;
            background-color: #e5e5e5; /* Cor cinza simulando o mapa */
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0.5rem;
        }

        .form-grupo-valor {
            margin: 2rem;
            align-content: center;
            align-items: center;
            gap: 1rem;
            .entrada-valor {
                align-content: center;
                color: var(--cor-laranja-contraste);
                font-size: 1.8rem;
                font-weight: 600;
                align-items: center;
                gap: 1rem;
                span {
                    text-shadow: 0 0 1px var(--cor-cinza-escuro);
                }
            }
        }

        .form-acoes {
            justify-content: center;
            .btn-submeter {
                margin: auto;
                justify-content: center;
                padding: 1rem 1.2rem;
            }
        }
    }
}
