<!DOCTYPE html>
<html xmlns:th="[http://www.thymeleaf.org](http://www.thymeleaf.org)" lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--google fonts-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Finlandica+Text:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <!--css padrãao-->
        <link rel="stylesheet" href="./utilities.css">
        <title>Ajudaí</title>
    </head>

    <body>

        <!--essa tag é onde a header vai ser injetada pelo springboot-->
        <header th:replace="~{fragments :: header}"></header>

        <main class=".conteudo">
            <!--aqui vai ficar o código html dá página-->
        </main>

        <!--essa tage é onde o footer vai ser injetado pelo springboot-->
        <footer th:replace="~{fragments :: footer}"></footer>
        <script src="utilities.js"></script>
    </body>
</html>
