@font-face{
    font-family: 'Material Symbols';
    font-style: normal;
    font-weight: 100 700;
    src: url('./icons/Material_Symbols_Rounded/MaterialSymbolsRounded-VariableFont_FILL,GRAD,opsz,wght.ttf');
}

/*esse root é onde vão ficar a variaves do nosso site, pra ficar mais facil de padronizar tudo*/
:root{
    --cor-azul: hsl(199 71% 67%);
    --cor-azul-contraste: hsl(199 71% 47%);
    --cor-laranja: hsl(18 100% 62%);
    --cor-laranja-contraste: hsl(18 100% 55%);
    --cor-cinza-claro: hsl(0 2% 55%);
    --cor-cinza-escuro: hsl(0 5% 30%);
    --cor-branco: hsl(0 0% 95%);
    --cor-preto: hsl(0 0% 5%);
    --f-logo: "Inter", sans-serif;
    --f-titulo: 'Nunito', sans-serif;
    --f-padrao: 'Finlandica Text', sans-serif;
    --f-icons: 'Material Symbols', sans-serif;
    --icon-weight: 400;
    --icon-fill: 0; /*mudar par 1 faz o icone ficar preenchido*/
    --icon-grad: 0;
    --icon-opsz: 24;
}

/*utilitários*/
.material-symbols{
    font-family: 'Material Symbols';
    display: inline-block;
    font-size: 48px;
    line-height: 1;
    font-variation-settings:
        'wght' var(--icon-weight),
        'FILL' var(--icon-fill),
        'GRAD' var(--icon-grad),
        'opsz' var(--icon-opsz);
}

.w-700{--icon-weight: 700;}
.w-600{--icon-weight: 600;}
.w-500{--icon-weight: 500;}
.w-300{--icon-weight: 300;}
.w-200{--icon-weight: 200;}
.w-100{--icon-weight: 100;}

.f-20{font-size: 20px; --icon-opsz: 20;}
.f-24{font-size: 24px; --icon-opsz: 24;}
.f-28{font-size: 28px; --ixon-opsz: 28;}
.f-32{font-size: 32px; --icon-opsz: 32;}

.fill{--icon-fill: 1;}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--f-titulo);
}

html {
    font-size: 62.5%;
    background-color: var(--cor-branco);

}

body {
    font-family: var(--f-padrao);
    font-weight: 400;
    font-size: 1.6rem;
    margin: 1lvh 0.5lvw;
    @media(width <= 480) {
        padding: 1rem;
    }
}
