@font-face{
    font-family: 'Material Symbols';
    font-style: Regular;
    font-weight: 80 200;
    src: url('./icons/Material_Symbols_Rounded/MaterialSymbolsRounded-VariableFont_FILL,GRAD,opsz,wght.ttf');
}

/*esse root é onde vão ficar a variaves do nosso site, pra ficar mais facil de padronizar tudo*/
:root{
    --cor-azul: hsl(199 71% 67%);
    --cor-azul-contraste: hsl(199 71% 47%);
    --cor-laranja: hsl(18 100% 62%);
    --cor-laranja-contraste: hsl(18 100% 55%);
    --cor-cinza-claro: hsl(0 2% 55%);
    --cor-cinza-escuro: hsl(0 5% 30%);
    --cor-branco: hsl(0 0% 95%);
    --cor-preto: hsl(0 0% 5%);
    --f-logo: "Quicksand", sans-serif;
    --f-titulo: 'Outfit', sans-serif;
    --f-padrao: 'Inter', sans-serif;
    --f-icons: 'Material Symbols', sans-serif;
    --icon-weight: 80;
    --icon-fill: 0; /*mudar par 1 faz o icone ficar preenchido*/
    --icon-grad: 0: /*altera a espessura do icone*/
    /*aqui são configurações do bootstrap*/
    --bs-body-font-family: var(--f-padrao);
    --bs-primary: var(--cor-laranja-contraste);
    --bs-primary-rgb: 255, 126, 61;
    --bs-secondary: var(--cor-azul);
    --bs-secundary-rgb: 110, 194, 232;
}

/*utilitários*/
.material-symbols{
    font-family: 'Material Symbols';
    font-size: 2rem;
    display: inline-block;
    line-height: 1;
    font-variation-settings:
        'wght' var(--icon-weight),
        'FILL' var(--icon-fill),
        'GRAD' var(--icon-grad);
}

.w-200{--icon-weight: 200;}
.w-180{--icon-weight: 180;}
.w-100{--icon-weight: 100;}
.w-50{--icon-weight: 50;}
.w-40{--icon-weight: 40;}
.w-0{--icon-weight: 0;}


.fill{--icon-fill: 1;}


.c-button{
    font-family: var(--f-titulo);
    font-size: 1.1rem;
    font-weight: 600;
    border: var(--cor-preto) 1px solid;
    box-shadow: 2px 1px 2px var(--cor-cinza-escuro);
}

.c-button--primary{
    background-color: var(--cor-laranja-contraste);
}

.c-button--primary-var{
    background-color: var(--cor-azul-contraste);
}

.c-button--secundary{
    background-color: var(--cor-branco);
}

.c-input{
    border: var(--cor-cinza-escuro) 1px solid;
    &:focus{
        border-color: var(--cor-preto);
        outline: 0;
        box-shadow: 1px 1px 3px 0.12rem var(--cor-cinza-claro);
    }
}

.c-input--simple {

}

.c-input--textarea {
    resize: none;
}

.c-input-pesquisa {

}
